<!-- home.html -->
{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}

{% block content %}
  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div class="alert {{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="quote-card">
    {% if no_quotes_message %}
      <p>{{ no_quotes_message }}</p>
    {% else %}
      <p>"{{ quote.text }}"</p>
      <p>Источник: {{ quote.source }}</p>
      <p class="views">Просмотры: {{ view_count }}</p>
      <p class="author">Добавлено автором: {{ author }}</p>
      <p class="time">Дата добавления: {{ create_at }}</p>
      <p>👍 {{ like_count }} | 👎 {{ dislike_count }}</p>

      {% if has_voted %}
        <p style="color: red;">Вы уже проголосовали</p>
      {% endif %}
      {% if user.is_authenticated %}
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="vote" value="like">👍 Лайк</button>
          <button type="submit" name="vote" value="dislike">👎 Дизлайк</button>
        </form>
      {% endif %}

      {% if user.is_authenticated and user == quote.author %}
        <form action="{% url 'delete_quote' quote.id %}" method="post">
          {% csrf_token %}
          <button 
          type="submit"
          onclick="return confirm('Вы уверены, что хотите удалить эту цитату?')"
          >
          Удалить цитату
          </button>
        </form>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
